$main-color: #b3b3b3;
$color-black: #000;
$color-white: #fff;
$active-color: #1db954;
$active-color-hover: #1ed760;
$rgba-color: rgba(0, 0, 0, 0);
$background-color: #282828;

$button-default-text-color: #b3b3b3;