$art-logo-shadow: rgba(0, 0, 0, .3);

.cover-art {
    &__image {
        height: 5.6rem;
        width: 5.6rem;
    }
}

.art-logo {
    margin: 0;
    display: block;
    outline: 0;
    position: relative;
    background-color: $background-color;
    box-shadow: 0 0 1rem $art-logo-shadow;

    &__default-logo {
        position: absolute;
        top: 35%;
        bottom: 35%;
        left: 35%;
        right: 35%;
    }

    &__art-cover {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: 50%;
    }
} 
    
